@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/* ----GENERAL---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    background-color: #111;
}

body {
    width: 80vw;
    max-width: 1280px;
    margin: 0 auto;
}

/* ----HEADER---- */

header {
    position: relative;
    height: 40vh;
    background-image: url('../images/restaurant-449952_1920.jpg');
    background-size: cover;
    opacity: 0.7;
    text-align: left;
    background-position: 50% 75%;
}

header h1 {
    position: absolute;
    left: 0;
    top: 20%;
    display: inline-block;
    font-size: 6rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 50px 0 40px;
}

header h2 {
    position: absolute;
    right: 0;
    bottom: 20%;
    display: inline-block;
    color: white;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 40px 0 20px;
    text-align: center;
}

/* ----MAIN----*/

main {
    /*display: flex;*/
    position: relative;
    max-width: 1280px;
    background-color: #444;
}

div.about, div.top5 {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    padding: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
}

h2.main {
    font-size: 30px;
    background-color: #222222;
    color: white;
}

.about p {
    font-size: 15px;
    text-align: justify;
}

/* ----NAVBAR---- */

nav {
    background-color: #111;
    font-size: 0;
}

.menu a, .login a {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.menu a, .btn-register, .btn-logout, .btn-admin {
    color: white;
}

.btn-admin {
    border-right: solid #222;
}

.btn-home {
    border-left: solid #222222;
}

.menu a {
    border-right: solid #222;
}

.btn-login, .btn-account {
    background-color: goldenrod;
    color: #222;
}

.menu a:hover {
    background-color: white;
    color: #111;
}

.login a:hover {
    background-color: white;
    color: goldenrod;
}

.menu {
    float: left;
    font-size: 0;
}

.login {
    text-align: right;
    font-size: 0;
}

/* ----TOP 5 CAROUSEL---- */

.container {
    position: relative;
    min-height: 40vh;
    width: 90%;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 12px;
    margin: 10px auto;
}

.carousel-caption img{
    float: left;
    max-height: 30vh;
    margin: 0 10px;
}

.container p{
    text-align: justify;
}

/* ----RESTAURANT LIST---- */

div.sidebar {
    height: 100%;
    max-width: 25%;
    background-color: #777777;
    position: absolute;
    right: 0;
    top: 0;
}

section.search, section.filter {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

section.search h2, section.filter h2 {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    background-color: #222222;
    padding: 5px;
    color: white;
}

section.search form, section.filter form {
    padding: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 15px;
}

section.search .submit-search, section.filter .submit-filter {
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
    border-radius: 10px;
    background-color: gold;
    padding: 5px;
    border: solid #222 1px
}

section.search .submit-search:hover, section.filter .submit-filter:hover {
    background-color: #222;
    border: solid gold 1px;
    color: gold;
}

div.list {
    max-width: 75%;
    padding: 20px;
}

div.list_item {
    background-color: white;
    height: auto;
    padding: 10px;
    margin: 5px auto;
    min-height: auto;
    overflow: hidden;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: justify;
}

.list img {
    width: 20vw;
    float: left;
    margin-right: 10px;
}

.list_item h2 {
    background-color: #333333;
    color: white;
    line-height: 30px;
}

.list_item h2 a {
    text-decoration: none;
    color: white;
}

.list_item h2 a:hover {
    color: gold;
    text-decoration: underline;
}

.list_item p {
    font-size: 15px;
}

section.average-rating {
    float: right;
    width: 45px;
    height: 45px;
    background-color: #333;
    border-radius: 10px;
    border: solid 1px #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    color: white;
}

.average-rating span {
    color: gold;
}

.categories span {
    display: inline-block;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 15px;
    margin: 5px;
    background-color: darkgray;
    padding: 5px 7px;
    border-radius: 10px;
    border: #444 solid 1px;
    float: left;
    color: white;
}

/* ----RESTAURANT DETAILS---- */

div.restaurant {
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

div.description {
    min-height: 10vh;
}

.restaurant p {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5rem;
}

div.restaurant-attributes {
    height: 5vh;
    width: 100%;
    background-color: transparent;
}

.restaurant .average-rating {
    float: left;
    background-color: #888;
}

.restaurant .categories {
    float: right;
}

.restaurant p {
    margin-top: 10px;
    text-align: justify;
}

div.header-restaurant {
    position: relative;
    height: 60vh;
    width: 100%;
    margin-bottom: 10px;
}

div.header-restaurant img {
    width: 100%;
    max-height: 100%;
}

div.sidebar-restaurant {
    height: auto;
    background-color: transparent;
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
}

.header-restaurant h2 {
    background-color: white;
    color: #222;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 4rem;
    line-height: 5rem;
    padding: 0 50px 0 40px;
    position: absolute;
    top: 10%;
    left: 0;
}

a.book-a-table {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    color: #222222;
    font-family: 'Raleway', 'Arial', sans-serif;
    border-radius: 10px;
    background-color: gold;
    padding: 5px;
    border: solid #222 1px;
    margin: 5px 10px;
}

a.book-a-table:hover {
    background-color: #222;
    border: solid gold 1px;
    color: gold;
}

div.voting-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.voting-area a {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    width: 30%;
    text-align: center;
    color: #222222;
    font-family: 'Raleway', 'Arial', sans-serif;
    border-radius: 10px;
    background-color: gold;
    padding: 5px;
    border: solid #222 1px;
    margin: 5px 10px;
}

.voting-area h2 {
    background-color: #222;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

div.all-ratings {
    border-top: solid 1px #222;
    margin-top: 20px;
}

.single-rating{
    margin: 10px 0;
    border-bottom: solid 1px #222;
}

div.log-in, div.registration {
    width: 30%;
    border: solid 1px #222;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: darkgray;
    padding: 10px 0;
}

div.log-in p, div.registration p {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: white;
}

div.rsv-confirm{
    margin: 0;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
}

div.back a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    color: #222222;
    font-family: 'Raleway', 'Arial', sans-serif;
    background-color: gold;
    padding: 5px;
    border: solid #222 1px;
    margin: 5px 5px;
}

div.back a:hover{
    color: gold;
    background-color: #222;
    border: gold solid 1px;
}

/* ----VOTING---- */

form.voting-form {
    background-color: darkgray;
    width: 40vw;
    margin: 10px auto;
}

div.voting {
    display: flex;
    margin: 0 auto;
}

div.comment {
    width: 30vw;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%
}

input.star {
    display: none;
}

label.star {
    display: inline-block;
    padding: 10px;
    font-size: 36px;
    color: dimgray;
    transition: all .2s
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: gold;
    transition: all .25s
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

textarea.comment-area {
    display: inline-block;
    width: 90%;
    height: 25vh;
    margin-bottom: 10px;
    border: dimgray solid 1px;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 500;
    color: #777;
    resize: none;
}

textarea.comment-area:focus {
    outline: 0;
}

input.submit {
    display: inline-block;
    width: 20%;
    font-size: 2rem;
    font-family: 'Raleway', 'Arial', sans-serif;
    border-radius: 10px;
    background-color: gold;
    border: solid #222 1px
}

input.submit:hover {
    background-color: #222;
    border: solid gold 1px;
    color: gold;
}

/* ----LOGIN---- */

div.login-form {
    background-color: white;
    width: 50%;
    height: auto;
    margin: 20px auto;
}

h2.login-form {
    background-color: #111;
    color: white;
    width: 100%;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 5px 20px;
    text-transform: uppercase;
}

div.login-form form {
    width: 90%;
    margin: 20px;
    padding: 20px;
    background-color: darkgray;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5rem;
}

.login-form input.submit {
    width: 20%;
    font-size: 1.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
    background-color: gold;
    border-radius: 10px;
    border: solid #222 1px
}

.login-form input.submit:hover {
    background-color: #222;
    border: solid gold 1px;
    color: gold;
}

/* ----CONTACT---- */

div.contact_us {
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.contact_us h2 {
    background-color: #222;
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    color: white;
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.contact_us p {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
}

/* ----HELP---- */

div.help {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.help img {
    max-height: 30vh;
}

/* ----ADMIN TOOLS---- */

div.admin {
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.admin h2 {
    background-color: #222;
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    color: white;
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.admin h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.admin a {
    display: inline-block;
    background-color: gold;
    border: #222 solid 1px;
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #222222;
    font-size: 1.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.admin a:hover {
    background-color: #222;
    border: gold solid 1px;
    color: gold;
}

.admin .tab_trigger {
    border-bottom: darkgray solid 1px;
}

.admin table {
    margin: 20px 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    border: #222 solid 1px;
}

.admin .tab-wrap {
    margin: 20px;
}

.admin th {
    border: #222 solid 1px;
    font-size: 1.5rem;
    padding: 5px;
    width: auto;
}

.admin td {
    border: #222 solid 1px;
    font-size: 1.5rem;
    padding: 5px;
    width: auto;
}

td img {
    max-width: 10vw;
}

.admin table h3 {
    padding: 5px;
}

/* ---- FORM.HTML---- */

form.admin-form, form.rsrv-edit-form, form.rsrv-form {
    margin: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5rem;
}

/* ----MY ACCOUNT---- */

div.my-account {
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.my-account h2 {
    background-color: #222;
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    color: white;
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.my-account a {
    display: inline-block;
    background-color: gold;
    border: #222 solid 1px;
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #222222;
    font-size: 1.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.my-account a:hover {
    background-color: #222;
    border: gold solid 1px;
    color: gold;
}


.my-account table {
    margin: 20px 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    border: #222 solid 1px;
}

.my-account th, td {
    border: #222 solid 1px;
    font-size: 1.5rem;
    padding: 5px;
    width: auto;
}

/* ---FOOTER---- */

footer {
    height: 5vh;
    background-color: goldenrod;
}

/* ---- FORM ERRORS ---- */

ul.errorlist li{
        color: red;
    }

/* ---- DELETE FORM ---- */

input.delete{
    background-color: gold;
    border: #222 solid 1px;
    margin: 2px;
    padding: 5px 10px;
    color: #222222;
    font-size: 1.5rem;
    font-family: 'Raleway', 'Arial', sans-serif;
}

input.delete:hover{
    background-color: #222;
    border: gold solid 1px;
    color: gold;
}