{% extends '__base__.html' %}
{% load static %}
{% block main %}
    <div class="my-account">
        <h2>Hello, {{ user.username }}</h2>
        {% block reservation %}
            <h3>Your upcoming reservations:</h3>
            <table>
                <tr>
                    <th>Reservation code</th>
                    <th>Date</th>
                    <th>Time from</th>
                    <th>Time to</th>
                    <th>Restaurant</th>
                    <th>City</th>
                    <th>Table</th>
                    <th>Options</th>
                </tr>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.reservation_code }}</td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.time_from }}</td>
                        <td>{{ reservation.time_to }}</td>
                        <td>{{ reservation.restaurant }}</td>
                        <td>{{ reservation.restaurant.city }}</td>
                        <td>{{ reservation.table }}</td>
                        <td><a href="{% url 'reservation_edit' reservation.id %}">Edit</a>
                            <a href="{% url 'reservation_delete' reservation.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
{% endblock %}