{% extends 'admin_tools.html' %}
{% block content %}
    <a href="{% url 'category_add' %}">Add category</a>
    <section class="categories-lst-admin">
        <table>
            <tr>
                <th colspan="3"><h3>Edit/delete category</h3></th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td><a href="{% url 'category_edit' category.pk %}">Edit</a></td>
                <td><a href="{% url 'category_delete' category.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
