<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        {% for rating in ratings %}
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <span class="comment-rating">
                        {% for element in rating_1.vote_to_list %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </span>
                    <h5>{{ rating_1.user }}</h5>
                    <p>{{ rating_1.comment }}</p>
                </div>
            </div>
        </div>
        {% for rating in ratings %}
            <div class="carousel-item" data-bs-interval="5000">
                <div class="container">
                    <div class="carousel-caption d-none d-md-block">
                        <span class="comment-rating">
                        {% for element in rating.vote_to_list %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </span>
                        <h5>{{ rating.user }}</h5>
                        <p>{{ rating.comment }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>