{% extends '__base__.html' %}
{% load static %}
{% block main %}
    <div class="list">
        {% for restaurant in restaurants %}
            <div class="list_item">
                <img alt="restaurant1"
                     src="https://cdn.pixabay.com/photo/2018/08/10/21/52/restaurant-3597677_960_720.jpg">
                <h2><a href="{% url 'restaurant_details' restaurant.id %}">{{ restaurant.name }}</a></h2>
                <p>{{ restaurant.description }}</p>
                <section class="categories">
                    {% for category in restaurant.category.all %}
                        <span>{{ category.name }}</span>
                    {% endfor %}
                </section>
                <section class="average-rating"><span><i class="fa fa-star"></i></span>
                    <p>N</p></section>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <section class="filter">
            <h2>Search & Filter:</h2>
            <form class="filter-form">
                {% csrf_token %}
                {{ my_filter.form }}
                <input class="submit-filter" type="submit" value="Filter">
            </form>
        </section>
    </div>
{% endblock %}