{% extends '__base__.html' %}
{% load static %}
{% block main %}
    <div class="restaurant">
        <div class="header-restaurant">
            <div class="sidebar-restaurant">
                <section class="restaurant-comments">
                    {% include 'carousel_comments.html' %}
                </section>
            </div>
            <h2>{{ restaurant.name }}</h2>
        </div>
        <div class="restaurant-attributes">
            <section class="average-rating"><span><i class="fa fa-star"></i></span>
                <p>5</p></section>
            {% if user.is_authenticated %}
            <a class="book-a-table" href="#">Book a table</a>
            {% endif %}
        {% for category in restaurant.category.all %}
            <section class="categories"><span>{{ category.name }}</span></section>
        {% endfor %}
        </div>
        <div>
            <p>{{ restaurant.description}}</p>
        </div>
        <div class="voting-area">
            <h2>Add comment</h2>
            {% if user.is_authenticated %}
                {% include 'voting.html' %}
            {% else %}
                <div class="log-in">
                    <p>To book a table or add a comment:</p>
                    <a href="{% url 'login' %}">Log in</a>
                </div>
                <div class="registration">
                    <p>New to Click&Table?</p>
                    <a href="{% url 'registration' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}