{% extends '__base__.html' %}
{% load static %}
{% block main %}
    <div class="list">
        {% for restaurant in restaurants %}
            <div class="list_item">
            {% if restaurant.image == null %}
                <img alt="no picture available" src="../click_and_table/static/images/no-image.png">
                {% else %}
                <img alt="restaurant_picture"
                     src="{{ restaurant.image.url }}">
            {% endif %}
                <h2><a href="{% url 'restaurant_details' restaurant.id %}">{{ restaurant.name }}</a></h2>
                <p>{{ restaurant.street }}, {{ restaurant.city }}</p>
                <p>{{ restaurant.description }}</p>
                <section class="categories">
                    {% for category in restaurant.category.all %}
                        <span>{{ category.name }}</span>
                    {% endfor %}
                </section>
                <section class="average-rating"><span><i class="fa fa-star"></i></span>
                    <p>
                        {% if restaurant.average_rating == None %}
                            N
                        {% else %}
                            {{ restaurant.average_rating }}
                        {% endif %}
                    </p></section>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <section class="filter">
            <h2>Search & Filter:</h2>
            <form class="filter-form">
                {% csrf_token %}
                {{ my_filter.form }}
                <input class="submit-filter" type="submit" value="Filter">
            </form>
        </section>
    </div>
{% endblock %}