    <form class="voting-form" action="" method="post">
    {% csrf_token %}
        <div class="voting">
{#            <input class="voting-counter" type="hidden" value="">#}
            <p>Rating: <span class="voting-counter"></span></p>
            <div class="stars">
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
            </div>
        </div>
        <div class="comment">
            <textarea class="comment" name="comment" rows="4" cols="50">Write your comment here</textarea>
            <input class="submit" type="submit" value="Submit">
        </div>
    </form>
